<% provide(:title, "Top") %>

<div class="center jumbotron text-center">
  <h1>補助金・助成金・減免検索ツール</h1>

  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>

  <p>
    アカウント作成は<%= link_to "こちら", "#" %>から
  </p>

</div>
